/*******************
Choice Containers
********************/

.wrapper {
  width: 80vw;
  margin: auto;
}

.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 90%;
  max-width: 40rem;
  border: 1px solid #7d98a1;
  background-color: white;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #7d98a1;
  transform: translateY(-1px);
}

.choice-prefix {
  padding: 0.5rem 0.8rem;
  background-color: #30223d;
  color: white;
}

.choice-text {
  padding: 0.5rem;
  width: 100%;
}

/*******************
Choice bar colors 
********************/

.correct {
  background-color: #9be2ac;
}

.incorrect {
  background-color: #e6747f;
}

/***********
HUD 
************/

.displays {
  display: flex;
  justify-content: space-around;
}

.hud {
  padding-bottom: 1rem;
}

.hud h1 {
  margin: 0 auto;
}

.hud-prefix {
  text-align: center;
}

.hud-main-text {
  text-align: center;
}

/***********
Progress Bar 
************/

#progressBar {
  width: 9rem;
  height: 1.5rem;
  border: solid 1px #886f68;
  margin-top: 0.5rem;
}

#progressBarFull {
  height: 1.5rem;
  background-color: #886f68;
  width: 0%;
}

/*************
Loading Icon
**************/

/* from https://www.w3schools.com/howto/howto_css_loader.asp - with modifications */
#loader {
  border: 1.6rem solid white;
  border-radius: 50%;
  border-top: 1.6rem solid #7d98a1;
  width: 12rem;
  height: 12rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: black;
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: arial;
}

ul li {
  float: left;
  width: 200px;
  height: 40px;
  opacity: 0.8;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

ul li ul li {
  display: none;
  background-color: #04140f;
}

ul li:hover ul li {
  display: block;
}
.logo img {
  width: 50px;
  height: auto;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  min-height: 15vh;
  align-items: center;
  text-align: center;
  background-color: rgba(7, 35, 27, 0.9);
  margin-bottom: 7rem;
}

.logo {
  flex: 1 1 20rem;
  letter-spacing: 2px;
  font-weight: lighter;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 20rem;
}

.main-nav a {
  color: #fff;
}

.main-nav a:hover {
  color: #886f68;
}

.hamburger {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 5%;
  z-index: 4;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: #999;
  margin-bottom: 7px;
  transition: 0.2s ease-in;
}

/* HAMBURGER MENU ANIMATIONS */

.active {
  transform: translateX(-100%);
}

.toggle .line1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

/**************
Media Queries
***************/

@media screen and (max-width: 710px) {
  .controls {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 910px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 909px) {
  .main-nav {
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    background-color: rgba(7, 35, 27, 0.9);
    height: 100vh;
    width: 35%;
    transition: 0.1s ease-in;
    z-index: 2;
  }

  ul li ul li {
    display: none;
    background-color: transparent;
  }
}
