h3 {
  letter-spacing: 2px;
  margin-bottom: 0.8rem;
  font-size: 1.3rem;
  color: #000;
}

h3:first-letter {
  font-size: 2.5rem;
  color: #7d98a1;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  min-height: 15vh;
  align-items: center;
  text-align: center;
}

.logo {
  flex: 1 1 20rem;
  letter-spacing: 2px;
  font-weight: lighter;
}

.logo img {
  width: 50px;
  height: auto;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 20rem;
}

.main-nav a {
  color: #fff;
}

.main-nav a:hover {
  color: #886f68;
}

.about-banner {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../images/about-banner3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tagline {
  color: #fff;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  letter-spacing: 2px;
}

.tagline h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.tagline a {
  color: #fff;
  margin-top: 1rem;
  border: 1px solid #fff;
  padding: 0.5rem;
}

.tagline a:hover {
  border-color: #886f68;
}

.tagline-links {
  margin-top: 2rem;
}

.tagline-links a {
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem;
  margin: auto 1rem;
}

.tagline-links a:hover {
  border-color: #886f68;
}

.about-content-container,
.founders-container,
.instructor-container {
  margin: 3rem auto;
  max-width: 90%;
  text-align: center;
}

.card {
  width: 90%;
  margin: 0rem auto 3rem;
}
.card img {
  width: 100%;
  margin-bottom: 1.5rem;
}

.card p {
  font-size: 1.1rem;
  color: #333;
}

.founders-title,
.instructor-title {
  text-align: center;
}

.founders-title h3,
.instructor-title h3 {
  font-size: 1.8rem;
}

img {
  height: 380px;
}

@media (min-width: 800px) {
  .about-content-container .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 1rem;
  }

  .founders-container,
  .instructor-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .founders-container,
  .instructor-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
