.spirit-animal-banner {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/sa-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.spirit-animal-container {
  max-width: 90%;
  margin: 5rem auto;
  text-align: center;
  padding: 1rem;
}

.spirit-animal-label {
  font-size: 1.2rem;
}

button {
  display: block;
  margin: 1rem auto;
  background-color: #886f68;
  border: none;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
}

button:hover {
  opacity: 0.9;
}

.spirit-animal-container img {
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
  object-fit: contain;
  animation: fade-in 0.5s ease-in;
}

h3 {
  font-size: 2.4rem;
  color: #30223d;
}

h3::first-letter {
  font-size: 2.8rem;
  color: #402d52;
}
h4 {
  font-size: 2rem;
  font-weight: lighter;
  margin: 3rem auto;
  color: #7d98a1;
}

.animal-info,
.animal-dream {
  text-align: left;
  margin: 1rem auto;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #333;
}

.spirit-animal-content {
  margin: 3rem auto;
}

.symbol-bullets ul {
  margin: auto;
  padding: auto;
}

.symbol-bullets li {
  list-style-type: circle;
  font-size: 1.3rem;
  text-align: left;
  line-height: 2rem;
  margin: 1rem auto;
  color: #333;
  float: none;
  width: auto;
  height: auto;
  opacity: 1;
}

.animal-content {
  animation: entrance 0.3s ease-in;
}

@media (min-width: 1000px) {
  .spirit-animal-container {
    max-width: 60%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes entrance {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}
